body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.top-pane{
    background-color: #051720;
    
}
.pane{
    height: 50vh;
    display: flex;
    font-size: 24px;
}
.editor-container{
    flex-grow: 1;
    flex-basis: 0;
    padding: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 50px !important;
   
}
.editor-title{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 8px;  
     border-top-right-radius: .5rem;
  border-top-left-radius: .5rem; 
    
}
.CodeMirror {
  height: 100% !important;
}
.code-mirror-wrapper {
  flex-grow: 1;
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  overflow: hidden;
} 
.editor-container.collapsed{
    flex-grow: 0;
}  
.expand-collapse-btn{
    border: none;
    background: none;
    cursor: pointer;
}
